<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCConnectionServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.JDBCConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTankerServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.AddTankerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUsers</servlet-name>
        <servlet-class>com.watertanker.servlet.EditUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.bookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailSenderServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.MailSenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queueBookingServlet</servlet-name>
        <servlet-class>com.watertanker.servlet.queueBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCConnectionServlet</servlet-name>
        <url-pattern>/JDBCConnectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTankerServlet</servlet-name>
        <url-pattern>/AddTankerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUsers</servlet-name>
        <url-pattern>/EditUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingServlet</servlet-name>
        <url-pattern>/bookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailSenderServlet</servlet-name>
        <url-pattern>/MailSenderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queueBookingServlet</servlet-name>
        <url-pattern>/queueBookingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
